.gradle
.idea
.reasonix
app/.externalNativeBuild
app/build
app/debug
app/release
app/src/main/jniLibs
app/src/main/jni/hev-socks5-tunnel
local.properties
app/src/main/assets/*.dat
store.properties
*.jks
*.keystore
*.salive
obj/*
*.so
build/*
app/.cxx/*
*.dex
.cxx_tmp2/*
docs/logs/
tools/bin/
todo.md
