[submodule "third_party/hev-socks5-tunnel"]
	path = third_party/hev-socks5-tunnel
	url = https://github.com/heiher/hev-socks5-tunnel
[submodule "third_party/miuix"]
	path = third_party/miuix
	url = https://github.com/compose-miuix-ui/miuix.git
	shallow = true
